//--------------------------------------------------------------
// Header
//--------------------------------------------------------------
.site-header {
  &.active {
    //@include transition(all 1.0s ease-in-out);

    background: $color-whitesmoke !important;
    .site-branding {
      img {
        max-width: 60%;
      }
    }
    @include media($tablet-landscape) {
      &.active {
        position: fixed;
        width: 100%;
        z-index: 9999;
        @include pad(rem(10) 0);
        background: $color-whitesmoke;
        border-bottom: 1px solid $color-blue;
      }
    }
  }
  .site-branding {
    float: left;
    text-align: left;
    img {
      max-width: 60%;
      @include media($tablet-landscape) {
        max-width: 100%;
      }
    }
    .site-title {
      font-size: rem(48);
    }

    .site-description {
      font-size: rem(24);
      margin: 0 0 rem(24) 0;
    }
  }
}

.page-header.arc, .page-header.cat, .page-header.tag {
  background: $color-blue;
  color: $color-whitesmoke;
  margin-bottom: $gutter;
  @include pad(default);
}