//--------------------------------------------------------------
// Base Layout
//--------------------------------------------------------------

// Structure
.wrap{
	@include outer-container;
	padding: 0 1 * $gutter;

	@include media($desktop) {
		padding: 0;
	}
}

.site-header {
	padding-top: $gutter / 2;
	padding-bottom: $gutter / 2;
	@include media($tablet-landscape) {
		padding-top: $gutter;
		padding-bottom: $gutter;
	}
}
.site-footer{
	padding-top: 1 * $gutter;
	@include media($desktop) {
		padding: $gutter 0 0 0;
	}
}
.site-content {
	margin: 0 auto $gutter;

	@include media($desktop) {
		margin: rem(0) auto rem(60);
	}
}

.content-area {
	@include fill-parent;
	@include media($tablet-portrait) {
		@include span-columns(8);
	}
}

.sidebar {
	@include fill-parent;
	margin-top: $gutter;
	@include media($tablet-portrait) {
		margin-top: 0;
		@include span-columns(4);
	}
}
.row{
	@include outer-container;
}
.one-col{
	@include media($tablet-portrait) {
		@include span-columns(1);
	}
}
.two_col{
	margin-bottom: $gutter;
	@include media($tablet-portrait) {
		@include span-columns(2);
	}
}
.two-col {
	margin-bottom: $gutter;
	@include media($tablet-portrait) {
		@include span-columns(6);
	}
}
.third-col {
	margin-bottom: $gutter;
	@include media($tablet-portrait) {
		@include span-columns(4);
	}
}

.quarter-col {
	@include media($tablet-portrait) {
		@include span-columns(3);
	}
}
.threequarter-col{
	@include media($tablet-portrait) {
		@include span-columns(9);
		@include omega();
	}
}
.ten-col{
	@include media($tablet-portrait) {
		@include span-columns(10);
		@include omega();
	}
}
.eleven-col{
	@include media($tablet-portrait) {
		@include span-columns(11);
		@include omega();
	}
}
.twelve-col {
	@include media($tablet-portrait) {
		@include span-columns(12);
	}
}