//--------------------------------------------------------------
// Header
//--------------------------------------------------------------
.site-header{
    //position: fixed;
    z-index: 9;
    width: 100%;
    top: 0;
}
.site-title {
	font-size: rem(48);
}

.site-description {
	font-size: rem(24);
	margin: 0 0 rem(24) 0;
}
.site-header-main {
    text-align: right;
    padding: 5px;
    position: relative;
    transition: all 1s ease-in-out;
    width: 100%;
    background: transparent;
    p {
        margin-bottom: 0;
    }
    .site-branding{
      float: left;
    }
    &.active_more {
        opacity: 100;
        z-index: 1;
        color: white;
    }
    &.active {
        opacity: 100;
        z-index: 9999;
        .menu-toggle {
            margin-top: 0;
            margin-bottom: 0;
        }
        .site-branding {
            width: 150px;
            max-width: 100%;
            min-width: 0;
            overflow: hidden;
            img {
                max-width: 80%;
            }
            p {
                display: none;
            }
        }
    }
}

.custom-logo-link {
    display: block;
}

.custom-logo {
    max-width: 180px;
}

.site-title {
    line-height: 1.2173913043;
    margin: 0;
}

.site-branding .site-title a {
    color: #1a1a1a;
    &:hover,
    &:focus {
        color: $color-link-hover;
    }
}

.wp-custom-logo .site-title {
    margin-top: 0.608695652em;
}

.site-description {
    color: #686868;
    display: none;
    font-size: 0.8125rem;
    line-height: 1.0769230769;
    margin: 0.538461538em 0 0;
}

.menu-toggle {
    background-color: transparent;
    border: 1px solid red;
    color: #1a1a1a;
    font-size: 13px;
    font-size: 0.8125rem;
    margin: 0;
    padding: 0.769230769em;
}

.no-js .menu-toggle {
    display: none;
}

.menu-toggle {
    &::before {
        font-family: $icon-font;
        font-size: 20px;
        content: "\f214";
    }
    &:hover,
    &:focus {
        background-color: transparent;
        border-color: red;
        color: $color-link-hover;
    }
    &.toggled-on {
        background-color: #1a1a1a;
        border-color: red;
        color: #fff;
        &:hover,
        &:focus {
            background-color: #1a1a1a;
            border-color: red;
            color: $color-link-hover;
        }
        &::before {
            font-family: $icon-font;
            font-weight: 20px;
            content: "\f335";
        }
    }
    &:focus {
        outline: 0;
    }
    &.toggled-on:focus {
        outline: thin dotted;
    }
}

.site-content {
    word-wrap: break-word;
    padding-top: 0;
    &.offset {
        padding-top: 148px;
    }
}