//--------------------------------------------------------------
// Icons
//--------------------------------------------------------------

// Social icons <ul>
.social-icons {
	@include clearfix;
	@include list-reset;

	// Each icon <li>
	.social-icon {

		// Loop through all social icons
		@each $social-color, $color in $social-colors {

			// Set styles on those social icons!
			.icon-#{$social-color} {
				@include size(rem(30) rem(30));

				fill: $color;

				&:hover {
					fill: lighten($color, 20%);
				}
			}
		}

		// No margin for the last <li> item
		&:last-child {
			margin-right: 0;
		}
	}
}

// Dashicons
.menu-item-has-children a:after,
.social-navigation a:before,
.dropdown-toggle:after,
.bypostauthor > article .fn:after,
.comment-reply-title small a:before,
.pagination .prev:before,
.pagination .next:before,
.pagination .nav-links:before,
.pagination .nav-links:after,
.search-submit:before,
.search-field:before,
.page-header{
    display: inline-block;
    font-family: $icon-font;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    speak: none;
    text-align: center;
    text-decoration: inherit;
    text-transform: none;
    vertical-align: top;
}