/**
 * - Menus
 */

.site-header-menu {
    display: none;
    text-align: left;
    &.toggled-on {
        display: block;
        margin-top: 5px;
        height: auto;
    }
}

.no-js .site-header-menu {
    display: block;
}

.main-navigation {}

.site-footer .main-navigation {
    margin-bottom: 1.75em;
}

.main-navigation {
    ul {
        list-style: none;
        margin: 0;
    }
    li {
        border-top: 1px solid red;
        position: relative;
    }
    a {
        color: $color-link;
        display: block;
        line-height: 1.3125;
        outline-offset: -1px;
        padding: 0.84375em 0;
        &:hover,
        &:focus {
            color: $color-link-hover;
        }
    }
    .current-menu-item > a,
    .current-menu-ancestor > a {
        font-weight: 700;
    }
    ul ul {
        display: none;
        margin-left: 0.875em;
    }
}

.no-js .main-navigation ul ul {
    display: block;
}

.main-navigation {
    ul .toggled-on {
        display: block;
    }
    .primary-menu {
        border-bottom: 1px solid red;
    }
    .menu-item-has-children > a {
        margin-right: 56px;
    }
}

.dropdown-toggle {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    color: #1a1a1a;
    content: "";
    height: 48px;
    padding: 0;
    position: absolute;
    right: 0;
    text-transform: none;
    top: 0;
    width: 48px;
    &:after {
        border: 0 solid red; 
        border-left-width: 1px;
        font-family: $icon-font;
        content: "\f347";
        font-size: 24px;
        left: 1px;
        position: relative;
        width: 48px;
    }
    &:hover {
        background-color: transparent;
        color: $color-link-hover;
    }
    &:focus {
        background-color: transparent;
        color: $color-link-hover;
        outline: thin dotted;
        outline-offset: -1px;
        &:after {
            border-color: transparent;
        }
    }
    &.toggled-on:after {
        font-family: $icon-font;
        content: "\f343";
    }
}

.site-header .main-navigation + .social-navigation {
    margin-top: 1.75em;
}

.site-footer .social-navigation {
    margin-bottom: 1.75em;
}

.post-navigation {
    .previous {
        text-align: left;
        .info {
            position: absolute;
            left: 24px;
            bottom: 30px;
        }
    }
    .next {
        text-align: right;
        .info {
            position: absolute;
            right: 24px;
            bottom: 30px;
        }
    }
    a {
        
        height: 250px;
        position: relative;
    }
    .background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: .4;
        background-size: cover;
        background-position: center;
        transition: opacity 0.15s ease-out;
    }
}