//--------------------------------------------------------------
// Homepage Template
//--------------------------------------------------------------
.home .site-content {
    width: 100%;
    max-width: 100%;
    padding: 0;
     article{
    	padding-bottom: $global-bottom-margin;
    	border-bottom: 1px solid $color-background-hr;
         &:last-child{
             padding-bottom: 0;
             border-bottom: none;
             margin-bottom: 0;
         }
    }
}

.front-page.presentacion {
    h2 {
        text-align: center;
    }
}

.front-page.destacados {
    text-align: center;
    .fa {
        vertical-align: middle;
        font-size: 24px;
        @include pad(30px);
        border: 4px solid $color-background-hr;
        border-radius: 50%;
        &:hover {
            border: 4px solid $color-gray-alt;
            @include transition(all 0.4s ease-in-out);
            @include transform(scale(1.2));
        }
    }
}

.front-page.precios {
    text-align: center;
    .two-col {
        background: $color-gallery;
        .dashicons {
            font-size: 80px;
            //margin-bottom: $global-bottom-margin;
            margin-right: auto;
            margin-left: auto;
            width: 80px;
            height: 80px;
        }
        h2,
        h3,
        p {
            border-top: 1px solid $color-background-hr;
        }
    }
}
